In [55]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import to_date, dayofweek, col, when, rand, avg, sum as _sum

In [16]:
spark = SparkSession.builder.appName("Sunday Sales Analysis").getOrCreate()

In [71]:
dim_products = spark.read.csv("data/adv/dim_product.csv", header=True)
fact_internet_sales = spark.read.csv("data/adv/fact_internet_sales.csv", header=True)
dim_date = spark.read.csv("data/adv/dim_date.csv", header=True)
dim_customer = spark.read.csv("data/adv/dim_customer.csv", header=True)
dim_currency = spark.read.csv("data/adv/dim_currency.csv", header=True)

In [79]:
# Join with dim_products
fact_sales = fact_internet_sales.join(dim_products, on="ProductKey", how="inner")

# Join with dim_date
fact_sales = fact_sales.join(dim_date, fact_sales["OrderDateKey"] == dim_date["DateKey"], how="inner")

# Join with dim_customer
fact_sales = fact_sales.join(dim_customer, on="CustomerKey", how="inner")

# Join with dim_currency
fact_sales = fact_sales.join(dim_currency, on="CurrencyKey", how="inner")

# Verify schema after joins
fact_sales.printSchema()

root
 |-- CurrencyKey: string (nullable = true)
 |-- CustomerKey: string (nullable = true)
 |-- ProductKey: string (nullable = true)
 |-- OrderDateKey: string (nullable = true)
 |-- OrderQuantity: string (nullable = true)
 |-- UnitPrice: string (nullable = true)
 |-- ExtendedAmount: string (nullable = true)
 |-- UnitPriceDiscountPct: string (nullable = true)
 |-- DiscountAmount: string (nullable = true)
 |-- ProductStandardCost: string (nullable = true)
 |-- TotalProductCost: string (nullable = true)
 |-- SalesAmount: string (nullable = true)
 |-- TaxAmt: string (nullable = true)
 |-- Freight: string (nullable = true)
 |-- ProductAlternateKey: string (nullable = true)
 |-- EnglishProductName: string (nullable = true)
 |-- SpanishProductName: string (nullable = true)
 |-- Color: string (nullable = true)
 |-- ListPrice: string (nullable = true)
 |-- Size: string (nullable = true)
 |-- Weight: string (nullable = true)
 |-- DaysToManufacture: string (nullable = true)
 |-- Status: string (nullable = true)
 |-- DateKey: string (nullable = true)
 |-- FullDateAlternateKey: string (nullable = true)
 |-- DayNumberOfWeek: string (nullable = true)
 |-- EnglishDayNameOfWeek: string (nullable = true)
 |-- SpanishDayNameOfWeek: string (nullable = true)
 |-- DayNumberOfMonth: string (nullable = true)
 |-- DayNumberOfYear: string (nullable = true)
 |-- WeekNumberOfYear: string (nullable = true)
 |-- EnglishMonthName: string (nullable = true)
 |-- SpanishMonthName: string (nullable = true)
 |-- MonthNumberOfYear: string (nullable = true)
 |-- CalendarQuarter: string (nullable = true)
 |-- CalendarYear: string (nullable = true)
 |-- CalendarSemester: string (nullable = true)
 |-- FiscalQuarter: string (nullable = true)
 |-- FiscalYear: string (nullable = true)
 |-- FiscalSemester: string (nullable = true)
 |-- FirstName: string (nullable = true)
 |-- MiddleName: string (nullable = true)
 |-- LastName: string (nullable = true)
 |-- NameStyle: string (nullable = true)
 |-- BirthDate: string (nullable = true)
 |-- MaritalStatus: string (nullable = true)
 |-- Suffix: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- EmailAddress: string (nullable = true)
 |-- YearlyIncome: string (nullable = true)
 |-- TotalChildren: string (nullable = true)
 |-- AddressLine1: string (nullable = true)
 |-- AddressLine2: string (nullable = true)
 |-- Phone: string (nullable = true)
 |-- CurrencyAlternateKey: string (nullable = true)
 |-- CurrencyName: string (nullable = true)

In [103]:
# Task1 Filtering
from pyspark.sql.functions import col

# Filter sales based on the given criteria
task1_filtered_sales = fact_sales.filter(
    (col("EnglishDayNameOfWeek") == "Sunday") &  # Filter for Sunday
    (col("Color") == "Silver") &  # Filter for Silver color
    (col("Size").isNotNull()) &  # Ensure Size is not null
    (col("Size") != "") &  # Ensure Size is not empty
    (col("Weight").cast("double") > 10) &  # Ensure Weight is greater than 10
    (col("YearlyIncome").cast("double") > 100000.0) &  # Ensure YearlyIncome > 100,000
    (col("TotalChildren").cast("int") > 1)  # Ensure more than 1 child
)

# Show the filtered sales data
task1_filtered_sales.show(truncate=False)

+-----------+-----------+----------+------------+-------------+---------+--------------+--------------------+--------------+-------------------+----------------+-----------+--------+-------+-------------------+-----------------------+--------------------------+------+---------+----+------+-----------------+-------+--------+--------------------+---------------+--------------------+--------------------+----------------+---------------+----------------+----------------+----------------+-----------------+---------------+------------+----------------+-------------+----------+--------------+---------+----------+---------+---------+----------+-------------+------+------+-----------------------------+------------+-------------+----------------------+---------------------+-------------------+--------------------+--------------------+
|CurrencyKey|CustomerKey|ProductKey|OrderDateKey|OrderQuantity|UnitPrice|ExtendedAmount|UnitPriceDiscountPct|DiscountAmount|ProductStandardCost|TotalProductCost|SalesAmount|TaxAmt  |Freight|ProductAlternateKey|EnglishProductName     |SpanishProductName        |Color |ListPrice|Size|Weight|DaysToManufacture|Status |DateKey |FullDateAlternateKey|DayNumberOfWeek|EnglishDayNameOfWeek|SpanishDayNameOfWeek|DayNumberOfMonth|DayNumberOfYear|WeekNumberOfYear|EnglishMonthName|SpanishMonthName|MonthNumberOfYear|CalendarQuarter|CalendarYear|CalendarSemester|FiscalQuarter|FiscalYear|FiscalSemester|FirstName|MiddleName|LastName |NameStyle|BirthDate |MaritalStatus|Suffix|Gender|EmailAddress                 |YearlyIncome|TotalChildren|AddressLine1          |AddressLine2         |Phone              |CurrencyAlternateKey|CurrencyName        |
+-----------+-----------+----------+------------+-------------+---------+--------------+--------------------+--------------+-------------------+----------------+-----------+--------+-------+-------------------+-----------------------+--------------------------+------+---------+----+------+-----------------+-------+--------+--------------------+---------------+--------------------+--------------------+----------------+---------------+----------------+----------------+----------------+-----------------+---------------+------------+----------------+-------------+----------+--------------+---------+----------+---------+---------+----------+-------------+------+------+-----------------------------+------------+-------------+----------------------+---------------------+-------------------+--------------------+--------------------+
|98         |11240      |344       |20110227    |1            |3399.99  |3399.99       |0.0                 |0.0           |1912.1544          |1912.1544       |3399.99    |271.9992|84.9998|BK-M82S-38         |Mountain-100 Silver, 38|Montaña: 100, plateada, 38|Silver|3399.99  |38  |20.35 |4                |NULL   |20110227|2011-02-27          |1              |Sunday              |Domingo             |27              |58             |10              |February        |Febrero         |2                |1              |2011        |1               |3            |2010      |2             |Anne     |B         |Hernandez|False    |1964-06-09|M            |NULL  |F     |anne4@adventure-works.com    |160000.0    |2            |76 Woodcrest Dr.      |NULL                 |1 (11) 500 555-0119|GBP                 |United Kingdom Pound|
|6          |11456      |347       |20110717    |1            |3399.99  |3399.99       |0.0                 |0.0           |1912.1544          |1912.1544       |3399.99    |271.9992|84.9998|BK-M82S-48         |Mountain-100 Silver, 48|Montaña: 100, plateada, 48|Silver|3399.99  |48  |21.42 |4                |NULL   |20110717|2011-07-17          |1              |Sunday              |Domingo             |17              |198            |30              |July            |Julio           |7                |3              |2011        |2               |1            |2011      |1             |Jon      |C         |Gao      |False    |1980-01-05|M            |NULL  |M     |jon35@adventure-works.com    |120000.0    |5            |6455 Garnet Lane      |NULL                 |1 (11) 500 555-0136|AUD                 |Australian Dollar   |
|100        |11249      |347       |20111009    |1            |3399.99  |3399.99       |0.0                 |0.0           |1912.1544          |1912.1544       |3399.99    |271.9992|84.9998|BK-M82S-48         |Mountain-100 Silver, 48|Montaña: 100, plateada, 48|Silver|3399.99  |48  |21.42 |4                |NULL   |20111009|2011-10-09          |1              |Sunday              |Domingo             |9               |282            |42              |October         |Octubre         |10               |4              |2011        |2               |2            |2011      |1             |Cindy    |A         |Patel    |False    |1966-07-09|M            |NULL  |F     |cindy3@adventure-works.com   |130000.0    |3            |Essener Straße 123    |NULL                 |1 (11) 500 555-0149|USD                 |US Dollar           |
|100        |26107      |344       |20111204    |1            |3399.99  |3399.99       |0.0                 |0.0           |1912.1544          |1912.1544       |3399.99    |271.9992|84.9998|BK-M82S-38         |Mountain-100 Silver, 38|Montaña: 100, plateada, 38|Silver|3399.99  |38  |20.35 |4                |NULL   |20111204|2011-12-04          |1              |Sunday              |Domingo             |4               |338            |50              |December        |Diciembre       |12               |4              |2011        |2               |2            |2011      |1             |Alexis   |NULL      |Thomas   |False    |1965-10-10|M            |NULL  |F     |alexis10@adventure-works.com |130000.0    |4            |6987 Buchanan Ct.     |NULL                 |150-555-0131       |USD                 |US Dollar           |
|98         |11240      |355       |20121230    |1            |2319.99  |2319.99       |0.0                 |0.0           |1265.6195          |1265.6195       |2319.99    |185.5992|57.9998|BK-M68S-42         |Mountain-200 Silver, 42|Montaña: 200, plateada, 42|Silver|2319.99  |42  |23.77 |4                |Current|20121230|2012-12-30          |1              |Sunday              |Domingo             |30              |365            |53              |December        |Diciembre       |12               |4              |2012        |2               |2            |2012      |1             |Anne     |B         |Hernandez|False    |1964-06-09|M            |NULL  |F     |anne4@adventure-works.com    |160000.0    |2            |76 Woodcrest Dr.      |NULL                 |1 (11) 500 555-0119|GBP                 |United Kingdom Pound|
|98         |11244      |355       |20130120    |1            |2319.99  |2319.99       |0.0                 |0.0           |1265.6195          |1265.6195       |2319.99    |185.5992|57.9998|BK-M68S-42         |Mountain-200 Silver, 42|Montaña: 200, plateada, 42|Silver|2319.99  |42  |23.77 |4                |Current|20130120|2013-01-20          |1              |Sunday              |Domingo             |20              |20             |4               |January         |Enero           |1                |1              |2013        |1               |3            |2012      |2             |Alexis   |M         |Coleman  |False    |1968-11-22|S            |NULL  |F     |alexis28@adventure-works.com |170000.0    |2            |7140 Camelback Road   |NULL                 |1 (11) 500 555-0115|GBP                 |United Kingdom Pound|
|98         |12123      |355       |20130210    |1            |2319.99  |2319.99       |0.0                 |0.0           |1265.6195          |1265.6195       |2319.99    |185.5992|57.9998|BK-M68S-42         |Mountain-200 Silver, 42|Montaña: 200, plateada, 42|Silver|2319.99  |42  |23.77 |4                |Current|20130210|2013-02-10          |1              |Sunday              |Domingo             |10              |41             |7               |February        |Febrero         |2                |1              |2013        |1               |3            |2012      |2             |Wesley   |A         |Liang    |False    |1963-12-12|M            |NULL  |M     |wesley16@adventure-works.com |170000.0    |2            |6048 Nightingale Drive|NULL                 |1 (11) 500 555-0143|GBP                 |United Kingdom Pound|
|100        |12188      |357       |20130310    |1            |2319.99  |2319.99       |0.0                 |0.0           |1265.6195          |1265.6195       |2319.99    |185.5992|57.9998|BK-M68S-46         |Mountain-200 Silver, 46|Montaña: 200, plateada, 46|Silver|2319.99  |46  |24.13 |4                |Current|20130310|2013-03-10          |1              |Sunday              |Domingo             |10              |69             |11              |March           |Marzo           |3                |1              |2013        |1               |3            |2012      |2             |Ashley   |J         |Thomas   |False    |1965-11-20|S            |NULL  |F     |ashley11@adventure-works.com |110000.0    |3            |5071 Almaden Dr.      |NULL                 |190-555-0190       |USD                 |US Dollar           |
|98         |12133      |353       |20130317    |1            |2319.99  |2319.99       |0.0                 |0.0           |1265.6195          |1265.6195       |2319.99    |185.5992|57.9998|BK-M68S-38         |Mountain-200 Silver, 38|Montaña: 200, plateada, 38|Silver|2319.99  |38  |23.35 |4                |Current|20130317|2013-03-17          |1              |Sunday              |Domingo             |17              |76             |12              |March           |Marzo           |3                |1              |2013        |1               |3            |2012      |2             |Colleen  |C         |Xie      |False    |1961-06-24|M            |NULL  |F     |colleen27@adventure-works.com|130000.0    |3            |8976 E Leland         |NULL                 |1 (11) 500 555-0175|GBP                 |United Kingdom Pound|
|19         |12710      |357       |20130317    |1            |2319.99  |2319.99       |0.0                 |0.0           |1265.6195          |1265.6195       |2319.99    |185.5992|57.9998|BK-M68S-46         |Mountain-200 Silver, 46|Montaña: 200, plateada, 46|Silver|2319.99  |46  |24.13 |4                |Current|20130317|2013-03-17          |1              |Sunday              |Domingo             |17              |76             |12              |March           |Marzo           |3                |1              |2013        |1               |3            |2012      |2             |Dalton   |E         |Evans    |False    |1946-12-17|S            |NULL  |M     |dalton43@adventure-works.com |170000.0    |2            |3601 Stinson          |#7                   |251-555-0135       |CAD                 |Canadian Dollar     |
|98         |12637      |357       |20130331    |1            |2319.99  |2319.99       |0.0                 |0.0           |1265.6195          |1265.6195       |2319.99    |185.5992|57.9998|BK-M68S-46         |Mountain-200 Silver, 46|Montaña: 200, plateada, 46|Silver|2319.99  |46  |24.13 |4                |Current|20130331|2013-03-31          |1              |Sunday              |Domingo             |31              |90             |14              |March           |Marzo           |3                |1              |2013        |1               |3            |2012      |2             |Leonard  |L         |Nath     |False    |1951-08-30|M            |NULL  |M     |leonard20@adventure-works.com|130000.0    |4            |487 Ash Lane          |NULL                 |1 (11) 500 555-0146|GBP                 |United Kingdom Pound|
|100        |12364      |357       |20130331    |1            |2319.99  |2319.99       |0.0                 |0.0           |1265.6195          |1265.6195       |2319.99    |185.5992|57.9998|BK-M68S-46         |Mountain-200 Silver, 46|Montaña: 200, plateada, 46|Silver|2319.99  |46  |24.13 |4                |Current|20130331|2013-03-31          |1              |Sunday              |Domingo             |31              |90             |14              |March           |Marzo           |3                |1              |2013        |1               |3            |2012      |2             |Erin     |NULL      |Rogers   |False    |1947-04-27|M            |NULL  |F     |erin23@adventure-works.com   |130000.0    |2            |8387 E. Lane Rd.      |NULL                 |920-555-0187       |USD                 |US Dollar           |
|100        |13189      |355       |20130414    |1            |2319.99  |2319.99       |0.0                 |0.0           |1265.6195          |1265.6195       |2319.99    |185.5992|57.9998|BK-M68S-42         |Mountain-200 Silver, 42|Montaña: 200, plateada, 42|Silver|2319.99  |42  |23.77 |4                |Current|20130414|2013-04-14          |1              |Sunday              |Domingo             |14              |104            |16              |April           |Abril           |4                |2              |2013        |1               |4            |2012      |2             |Gloria   |R         |Romero   |False    |1953-03-31|S            |NULL  |F     |gloria9@adventure-works.com  |120000.0    |2            |598 La Canada         |NULL                 |830-555-0173       |USD                 |US Dollar           |
|100        |12209      |357       |20130421    |1            |2319.99  |2319.99       |0.0                 |0.0           |1265.6195          |1265.6195       |2319.99    |185.5992|57.9998|BK-M68S-46         |Mountain-200 Silver, 46|Montaña: 200, plateada, 46|Silver|2319.99  |46  |24.13 |4                |Current|20130421|2013-04-21          |1              |Sunday              |Domingo             |21              |111            |17              |April           |Abril           |4                |2              |2013        |1               |4            |2012      |2             |Mindy    |NULL      |Jai      |False    |1945-12-24|M            |NULL  |F     |mindy16@adventure-works.com  |130000.0    |2            |7559 Worth Ct.        |NULL                 |520-555-0110       |USD                 |US Dollar           |
|100        |13278      |357       |20130505    |1            |2319.99  |2319.99       |0.0                 |0.0           |1265.6195          |1265.6195       |2319.99    |185.5992|57.9998|BK-M68S-46         |Mountain-200 Silver, 46|Montaña: 200, plateada, 46|Silver|2319.99  |46  |24.13 |4                |Current|20130505|2013-05-05          |1              |Sunday              |Domingo             |5               |125            |19              |May             |Mayo            |5                |2              |2013        |1               |4            |2012      |2             |Jorge    |NULL      |Hu       |False    |1971-05-09|S            |NULL  |M     |jorge23@adventure-works.com  |110000.0    |2            |6121 Chilpancingo Pk  |NULL                 |285-555-0110       |USD                 |US Dollar           |
|98         |13581      |357       |20130526    |1            |2319.99  |2319.99       |0.0                 |0.0           |1265.6195          |1265.6195       |2319.99    |185.5992|57.9998|BK-M68S-46         |Mountain-200 Silver, 46|Montaña: 200, plateada, 46|Silver|2319.99  |46  |24.13 |4                |Current|20130526|2013-05-26          |1              |Sunday              |Domingo             |26              |146            |22              |May             |Mayo            |5                |2              |2013        |1               |4            |2012      |2             |Albert   |W         |Blanco   |False    |1952-04-17|M            |NULL  |M     |albert15@adventure-works.com |130000.0    |4            |3316 Balhan Dr        |NULL                 |1 (11) 500 555-0130|GBP                 |United Kingdom Pound|
|100        |11242      |592       |20130526    |1            |564.99   |564.99        |0.0                 |0.0           |308.2179           |308.2179        |564.99     |45.1992 |14.1248|BK-M18S-42         |Mountain-500 Silver, 42|Montaña: 500, plateada, 42|Silver|564.99   |42  |27.77 |4                |Current|20130526|2013-05-26          |1              |Sunday              |Domingo             |26              |146            |22              |May             |Mayo            |5                |2              |2013        |1               |4            |2012      |2             |Larry    |NULL      |Munoz    |False    |1963-05-11|M            |NULL  |M     |larry9@adventure-works.com   |110000.0    |2            |Midi-Couleurs         |NULL                 |1 (11) 500 555-0193|USD                 |US Dollar           |
|100        |13263      |357       |20130616    |1            |2319.99  |2319.99       |0.0                 |0.0           |1265.6195          |1265.6195       |2319.99    |185.5992|57.9998|BK-M68S-46         |Mountain-200 Silver, 46|Montaña: 200, plateada, 46|Silver|2319.99  |46  |24.13 |4                |Current|20130616|2013-06-16          |1              |Sunday              |Domingo             |16              |167            |25              |June            |Junio           |6                |2              |2013        |1               |4            |2012      |2             |Kate     |K         |Anand    |False    |1961-10-22|S            |NULL  |F     |kate19@adventure-works.com   |110000.0    |2            |4855 James Court      |NULL                 |1 (11) 500 555-0179|USD                 |US Dollar           |
|100        |13658      |355       |20130623    |1            |2319.99  |2319.99       |0.0                 |0.0           |1265.6195          |1265.6195       |2319.99    |185.5992|57.9998|BK-M68S-42         |Mountain-200 Silver, 42|Montaña: 200, plateada, 42|Silver|2319.99  |42  |23.77 |4                |Current|20130623|2013-06-23          |1              |Sunday              |Domingo             |23              |174            |26              |June            |Junio           |6                |2              |2013        |1               |4            |2012      |2             |Wyatt    |J         |Bennett  |False    |1946-09-10|M            |NULL  |M     |wyatt53@adventure-works.com  |130000.0    |2            |9928 Stinson          |NULL                 |198-555-0197       |USD                 |US Dollar           |
|100        |15100      |357       |20130707    |1            |2319.99  |2319.99       |0.0                 |0.0           |1265.6195          |1265.6195       |2319.99    |185.5992|57.9998|BK-M68S-46         |Mountain-200 Silver, 46|Montaña: 200, plateada, 46|Silver|2319.99  |46  |24.13 |4                |Current|20130707|2013-07-07          |1              |Sunday              |Domingo             |7               |188            |28              |July            |Julio           |7                |3              |2013        |2               |1            |2013      |1             |Brenda   |NULL      |Chandra  |False    |1952-05-22|M            |NULL  |F     |brenda6@adventure-works.com  |110000.0    |3            |Holzstr 7555          |Kreditorenbuchhaltung|1 (11) 500 555-0176|USD                 |US Dollar           |

In [ ]:
# Task 2 Aggregation
from pyspark.sql.functions import col, sum, avg

# Perform aggregation
aggregated_sales = task1_filtered_sales.groupBy(
    "CustomerKey", "FirstName"
).agg(
    sum("TaxAmt").alias("TotalTaxAmt"),  
    avg("SalesAmount").alias("AverageSalesAmount"),  
    avg("TotalProductCost").alias("AverageTotalProductCost") 
)

# Show the aggregated result
aggregated_sales.show(truncate=False)

+-----------+---------+------------------+------------------+-----------------------+
|CustomerKey|FirstName|TotalTaxAmt       |AverageSalesAmount|AverageTotalProductCost|
+-----------+---------+------------------+------------------+-----------------------+
|12188      |Ashley   |185.5992          |2319.99           |1265.6195              |
|18131      |Ann      |185.5992          |2319.99           |1265.6195              |
|11456      |Jon      |271.9992          |3399.99           |1912.1544              |
|13581      |Albert   |185.5992          |2319.99           |1265.6195              |
|18139      |Jennifer |185.5992          |2319.99           |1265.6195              |
|11249      |Cindy    |271.9992          |3399.99           |1912.1544              |
|26107      |Alexis   |271.9992          |3399.99           |1912.1544              |
|11242      |Larry    |45.1992           |564.99            |308.2179               |
|12710      |Dalton   |185.5992          |2319.99           |1265.6195              |
|13658      |Wyatt    |185.5992          |2319.99           |1265.6195              |
|15194      |Erik     |185.5992          |2319.99           |1265.6195              |
|13263      |Kate     |185.5992          |2319.99           |1265.6195              |
|12133      |Colleen  |185.5992          |2319.99           |1265.6195              |
|19057      |Joanna   |185.5992          |2319.99           |1265.6195              |
|11240      |Anne     |457.59839999999997|2859.99           |1588.88695             |
|13189      |Gloria   |185.5992          |2319.99           |1265.6195              |
|13278      |Jorge    |185.5992          |2319.99           |1265.6195              |
|15100      |Brenda   |185.5992          |2319.99           |1265.6195              |
|12364      |Erin     |185.5992          |2319.99           |1265.6195              |
|11244      |Alexis   |185.5992          |2319.99           |1265.6195              |
+-----------+---------+------------------+------------------+-----------------------+
only showing top 20 rows

In [105]:
# Task 3 Sorting

aggregated_sales_sorted = aggregated_sales.orderBy("FirstName", ascending=True)

aggregated_sales_sorted.show(truncate=False)

+-----------+---------+------------------+------------------+-----------------------+
|CustomerKey|FirstName|TotalTaxAmt       |AverageSalesAmount|AverageTotalProductCost|
+-----------+---------+------------------+------------------+-----------------------+
|13581      |Albert   |185.5992          |2319.99           |1265.6195              |
|26107      |Alexis   |271.9992          |3399.99           |1912.1544              |
|11244      |Alexis   |185.5992          |2319.99           |1265.6195              |
|16623      |Andres   |185.5992          |2319.99           |1265.6195              |
|18131      |Ann      |185.5992          |2319.99           |1265.6195              |
|11240      |Anne     |457.59839999999997|2859.99           |1588.88695             |
|12188      |Ashley   |185.5992          |2319.99           |1265.6195              |
|17536      |Benjamin |185.5992          |2319.99           |1265.6195              |
|15100      |Brenda   |185.5992          |2319.99           |1265.6195              |
|11249      |Cindy    |271.9992          |3399.99           |1912.1544              |
|12133      |Colleen  |185.5992          |2319.99           |1265.6195              |
|12710      |Dalton   |185.5992          |2319.99           |1265.6195              |
|15194      |Erik     |185.5992          |2319.99           |1265.6195              |
|12364      |Erin     |185.5992          |2319.99           |1265.6195              |
|21517      |Gerald   |185.5992          |2319.99           |1265.6195              |
|13189      |Gloria   |185.5992          |2319.99           |1265.6195              |
|18139      |Jennifer |185.5992          |2319.99           |1265.6195              |
|19057      |Joanna   |185.5992          |2319.99           |1265.6195              |
|11456      |Jon      |271.9992          |3399.99           |1912.1544              |
|13278      |Jorge    |185.5992          |2319.99           |1265.6195              |
+-----------+---------+------------------+------------------+-----------------------+
only showing top 20 rows

In [106]:
# Task 4 Data presentation

final_result = aggregated_sales_sorted.drop("CustomerKey")

final_result.show(truncate=False)

+---------+------------------+------------------+-----------------------+
|FirstName|TotalTaxAmt       |AverageSalesAmount|AverageTotalProductCost|
+---------+------------------+------------------+-----------------------+
|Albert   |185.5992          |2319.99           |1265.6195              |
|Alexis   |271.9992          |3399.99           |1912.1544              |
|Alexis   |185.5992          |2319.99           |1265.6195              |
|Andres   |185.5992          |2319.99           |1265.6195              |
|Ann      |185.5992          |2319.99           |1265.6195              |
|Anne     |457.59839999999997|2859.99           |1588.88695             |
|Ashley   |185.5992          |2319.99           |1265.6195              |
|Benjamin |185.5992          |2319.99           |1265.6195              |
|Brenda   |185.5992          |2319.99           |1265.6195              |
|Cindy    |271.9992          |3399.99           |1912.1544              |
|Colleen  |185.5992          |2319.99           |1265.6195              |
|Dalton   |185.5992          |2319.99           |1265.6195              |
|Erik     |185.5992          |2319.99           |1265.6195              |
|Erin     |185.5992          |2319.99           |1265.6195              |
|Gerald   |185.5992          |2319.99           |1265.6195              |
|Gloria   |185.5992          |2319.99           |1265.6195              |
|Jennifer |185.5992          |2319.99           |1265.6195              |
|Joanna   |185.5992          |2319.99           |1265.6195              |
|Jon      |271.9992          |3399.99           |1912.1544              |
|Jorge    |185.5992          |2319.99           |1265.6195              |
+---------+------------------+------------------+-----------------------+
only showing top 20 rows